Contatos - Conversao (Eliana).json
{
  "name": "Contatos - Conversao (Eliana) copy 2",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const binKey = Object.keys(items[0].binary || {})[0]; // pega a primeira chave binária\nconst csv = items[0].binary?.[binKey]?.data;\n\nif (!csv) {\n  throw new Error('Arquivo CSV não encontrado na propriedade binária.');\n}\n\nconst buffer = Buffer.from(csv, 'base64');\nconst csvString = buffer.toString('utf8');\n\nconst linhas = csvString.split('\\n');\nconst headers = linhas[0].split(',');\n\nconst result = [];\n\nfor (let i = 1; i < linhas.length; i++) {\n  if (!linhas[i].trim()) continue;\n  const valores = linhas[i].split(',');\n  const json = {};\n  for (let j = 0; j < headers.length; j++) {\n    json[headers[j].trim()] = valores[j] ? valores[j].trim() : '';\n  }\n  result.push({ json });\n}\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4832,
        -432
      ],
      "id": "1175bb77-594d-4f0d-9886-2cfc32cca4d3",
      "name": "CSV Parse"
    },
    {
      "parameters": {
        "jsCode": "const nomeHeader = 'nome';\nconst phoneHeader = 'Phone 1 - Value';\n\nconst csvRows = [];\n\n// Detecta o máximo de colunas extras necessárias para telefone\nlet maxPhoneParts = 0;\nfor (const item of items) {\n  const phoneValue = item.json[phoneHeader] || '';\n  const parts = phoneValue.split(',').map(p => p.trim());\n  if (parts.length > maxPhoneParts) {\n    maxPhoneParts = parts.length;\n  }\n}\n\n// Monta cabeçalho com colunas extras para telefone\nconst phoneHeaders = [];\nfor (let i = 1; i <= maxPhoneParts; i++) {\n  phoneHeaders.push(`telefone ${i}`);\n}\n\nconst headers = [nomeHeader, ...phoneHeaders];\n\n// Cabeçalho separado por ponto e vírgula\ncsvRows.push(headers.join(';'));\n\n// Linhas\nfor (const item of items) {\n  const nome = [\n    item.json['First Name'],\n    item.json['Middle Name'],\n    item.json['Last Name']\n  ].filter(Boolean).join(' ').trim();\n\n  const rowBase = [`\"${nome.replace(/\"/g, '\"\"')}\"`];\n\n  const phoneValue = item.json[phoneHeader] || '';\n  const phoneParts = phoneValue.split(',').map(p => p.trim());\n\n  while (phoneParts.length < maxPhoneParts) {\n    phoneParts.push('');\n  }\n\n  const phoneCols = phoneParts.map(p => {\n    const apenasNumeros = p.replace(/[^\\d]/g, ''); // remove tudo que não for número\n    return `\"${apenasNumeros}\"`;\n  });\n\n  const row = [...rowBase, ...phoneCols];\n\n  csvRows.push(row.join(';'));\n}\n\nconst csvString = csvRows.join('\\n');\nconst buffer = Buffer.from(csvString, 'latin1');\n\nreturn [{\n  binary: {\n    data: await this.helpers.prepareBinaryData(buffer, 'contatos_modificado.csv', 'text/csv'),\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5184,
        -432
      ],
      "id": "4c211f98-5efb-4f15-894c-07e517f12667",
      "name": "CSV Stringify"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "binaryData": true,
        "name": "contatos_modificado.csv",
        "parents": [
          "1wVcD8_nVmbnQGOyLi3HYB_5XUU72X6iG"
        ],
        "options": {}
      },
      "name": "Google Drive Modificado",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        5376,
        -432
      ],
      "id": "015c540d-7cf6-4d8f-9386-e51ea30c5ef2",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SO1llAGW1mEvL8NB",
          "name": "Google Drive - Eliana"
        }
      }
    },
    {
      "parameters": {
        "content": "## Função: \n\n* O Markedesk só importa um modelo específico de planilha para importação de contatos.\n\n* Quando cliente optar por importar a **Planilha de contatos gerada pelo Google Agenda**, deve converter essa planilha para o modelo modificado - correto.\n\n* E prosseguir com a importação de seus contatos na plataforma.",
        "height": 220,
        "width": 680,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4656,
        -720
      ],
      "id": "21bf1bdc-7ed8-484e-a152-4ff4ed116b1d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "\n## Link - Conversor de Planilha de Contatos:\nhttps://elianahippler.github.io/Conversao-contatos/",
        "height": 100,
        "width": 520,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4656,
        -848
      ],
      "id": "ab235101-c9c7-409e-bd20-b0cefc7a1cea",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "172201ab-5635-4f31-b443-98d0f0fbf58f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        4656,
        -432
      ],
      "id": "4b8d9a9b-dd08-40d8-aafa-35bf3ffa955b",
      "name": "Webhook",
      "webhookId": "172201ab-5635-4f31-b443-98d0f0fbf58f"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "1q5v_wcreh1Lx9FTyv9-v3KkRorg6GQG2",
          "mode": "list",
          "cachedResultName": "contatos_modificado.csv",
          "cachedResultUrl": "https://drive.google.com/file/d/1q5v_wcreh1Lx9FTyv9-v3KkRorg6GQG2/view?usp=drivesdk"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone",
            "allowFileDiscovery": true
          }
        },
        "options": {}
      },
      "name": "Compartilhar arquivo",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        5568,
        -432
      ],
      "id": "bdaf6e40-4478-4f7e-8ad5-7da0a77d434e",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SO1llAGW1mEvL8NB",
          "name": "Google Drive - Eliana"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"downloadUrl\": \"={{ $json.downloadUrl }}\"\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        5952,
        -432
      ],
      "id": "226915c2-4c56-4952-9bf0-5a7ec24310f9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "functionCode": "return [\n  {\n    json: {\n      downloadUrl: \"https://drive.google.com/uc?export=download&id=\" + $node[\"Google Drive Modificado\"].json.id\n    }\n  }\n];\n"
      },
      "name": "Retornar URL Pública",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        5776,
        -432
      ],
      "id": "7820eac2-41d6-4f6d-bae7-769201c5f7e1"
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  return {\n    json: {\n      'First Name': item.json['First Name'] || '',\n      'Middle Name': item.json['Middle Name'] || '',\n      'Last Name': item.json['Last Name'] || '',\n      'Phone 1 - Value': item.json['Phone 1 - Value'] || '',\n    }\n  };\n}); "
      },
      "name": "Filtrar Colunas",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        5008,
        -432
      ],
      "id": "b805a819-8053-4743-ae61-7ff7b5e6175a"
    }
  ],
  "pinData": {},
  "connections": {
    "CSV Parse": {
      "main": [
        [
          {
            "node": "Filtrar Colunas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV Stringify": {
      "main": [
        [
          {
            "node": "Google Drive Modificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Modificado": {
      "main": [
        [
          {
            "node": "Compartilhar arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "CSV Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compartilhar arquivo": {
      "main": [
        [
          {
            "node": "Retornar URL Pública",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retornar URL Pública": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Colunas": {
      "main": [
        [
          {
            "node": "CSV Stringify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "28272b28-eafc-4d28-8481-382cdbe0a7f4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "22eecf610d66ada7c73eab46e13d35e3b3763f50ca9dc1517d68e299a265c0ae"
  },
  "id": "Qb180jGL0RnLuOvB",
  "tags": [
    {
      "createdAt": "2025-06-20T17:14:50.450Z",
      "updatedAt": "2025-06-20T17:14:50.450Z",
      "id": "BE11o7L7jf6mRqRB",
      "name": "Eliana"
    }
  ]
}