Contatos___Conversao__Eliana.json
{
  "name": "Contatos - Conversao (Eliana)",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1wWxY49f8Ip9BhjTf12UTPQxiJ1j_uX74",
          "mode": "list",
          "cachedResultName": "contatos.csv",
          "cachedResultUrl": "https://drive.google.com/file/d/1wWxY49f8Ip9BhjTf12UTPQxiJ1j_uX74/view?usp=drivesdk"
        },
        "options": {}
      },
      "name": "Google Drive Download",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        1180,
        -680
      ],
      "id": "db312ad0-3c4b-4a17-a747-4b22a9d63996",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SO1llAGW1mEvL8NB",
          "name": "Google Drive - Eliana"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  return {\n    json: {\n      'First Name': item.json['First Name'] || '',\n      'Middle Name': item.json['Middle Name'] || '',\n      'Last Name': item.json['Last Name'] || '',\n      'Phone 1 - Value': item.json['Phone 1 - Value'] || '',\n    }\n  };\n});"
      },
      "name": "Filtrar Colunas1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1620,
        -680
      ],
      "id": "b499901f-dfea-4a8c-8f88-9f102ad23faa"
    },
    {
      "parameters": {
        "jsCode": "const nomeHeader = 'nome';\nconst phoneHeader = 'Phone 1 - Value';\n\nconst csvRows = [];\n\n// Detecta o máximo de colunas extras necessárias para telefone\nlet maxPhoneParts = 0;\nfor (const item of items) {\n  const phoneValue = item.json[phoneHeader] || '';\n  const parts = phoneValue.split(',').map(p => p.trim());\n  if (parts.length > maxPhoneParts) {\n    maxPhoneParts = parts.length;\n  }\n}\n\n// Monta cabeçalho com colunas extras para telefone\nconst phoneHeaders = [];\nfor (let i = 1; i <= maxPhoneParts; i++) {\n  phoneHeaders.push(`telefone ${i}`);\n}\n\nconst headers = [nomeHeader, ...phoneHeaders];\n\n// Cabeçalho separado por ponto e vírgula\ncsvRows.push(headers.join(';'));\n\n// Linhas\nfor (const item of items) {\n  const nome = [\n    item.json['First Name'],\n    item.json['Middle Name'],\n    item.json['Last Name']\n  ].filter(Boolean).join(' ').trim();\n\n  const rowBase = [`\"${nome.replace(/\"/g, '\"\"')}\"`];\n\n  const phoneValue = item.json[phoneHeader] || '';\n  const phoneParts = phoneValue.split(',').map(p => p.trim());\n\n  while (phoneParts.length < maxPhoneParts) {\n    phoneParts.push('');\n  }\n\n  const phoneCols = phoneParts.map(p => {\n    const apenasNumeros = p.replace(/[^\\d]/g, ''); // remove tudo que não for número\n    return `\"${apenasNumeros}\"`;\n  });\n\n  const row = [...rowBase, ...phoneCols];\n\n  csvRows.push(row.join(';'));\n}\n\nconst csvString = csvRows.join('\\n');\nconst buffer = Buffer.from(csvString, 'latin1'); // para acentuação correta\n//const buffer = Buffer.from(csvString, 'utf8');\n// QUANDO ACENTUAÇÃO INCORRETA \n\nreturn [{\n  binary: {\n    data: await this.helpers.prepareBinaryData(buffer, 'contatos_modificado.csv', 'text/csv'),\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -680
      ],
      "id": "b311b653-c74f-44cc-b02f-4a34b048e37b",
      "name": "CSV Stringify"
    },
    {
      "parameters": {
        "jsCode": "const csv = items[0].binary.data.data; // arquivo CSV em base64\nconst buffer = Buffer.from(csv, 'base64');\nconst csvString = buffer.toString('utf8');\n\nconst linhas = csvString.split('\\n');\nconst headers = linhas[0].split(',');\n\nconst result = [];\n\nfor(let i = 1; i < linhas.length; i++) {\n  const valores = linhas[i].split(',');\n  const json = {};\n  for(let j = 0; j < headers.length; j++) {\n    json[headers[j].trim()] = valores[j] ? valores[j].trim() : '';\n  }\n  result.push({ json });\n}\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        -680
      ],
      "id": "4c3f8bb9-b7f8-44f4-a832-70828f94dddb",
      "name": "CSV Parse"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST"
        ],
        "path": "b59efb8e-dcc3-44d4-bc22-84e30a199355",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        960,
        -680
      ],
      "id": "05ef9128-9b2c-4983-b36e-3e7758da1036",
      "webhookId": "b59efb8e-dcc3-44d4-bc22-84e30a199355"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "binaryData": true,
        "name": "contatos_modificado.csv",
        "parents": [
          "1wVcD8_nVmbnQGOyLi3HYB_5XUU72X6iG"
        ],
        "options": {}
      },
      "name": "Google Drive Modificado",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        2060,
        -680
      ],
      "id": "e81358ba-2978-4d28-a922-68e0f769474e",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SO1llAGW1mEvL8NB",
          "name": "Google Drive - Eliana"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1aqn-K6exuMRw5BcGdo-Jsn49Ig12buF3",
          "mode": "list",
          "cachedResultName": "contatos_modificado.csv",
          "cachedResultUrl": "https://drive.google.com/file/d/1aqn-K6exuMRw5BcGdo-Jsn49Ig12buF3/view?usp=drivesdk"
        },
        "options": {}
      },
      "name": "Compartilhar arquivo",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        2280,
        -680
      ],
      "id": "f07a1b44-daa4-4e8c-9afc-e3f688b6a5af",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SO1llAGW1mEvL8NB",
          "name": "Google Drive - Eliana"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return [\n  {\n    json: {\n      downloadUrl: \"https://drive.google.com/uc?export=download&id=\" + $node[\"Compartilhar arquivo\"].json.id\n    }\n  }\n];\n"
      },
      "name": "Retornar URL Pública",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2500,
        -680
      ],
      "id": "8124de62-eb6a-41bc-877e-7159e4d85e29"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Download": {
      "main": [
        [
          {
            "node": "CSV Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Colunas1": {
      "main": [
        [
          {
            "node": "CSV Stringify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV Stringify": {
      "main": [
        [
          {
            "node": "Google Drive Modificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV Parse": {
      "main": [
        [
          {
            "node": "Filtrar Colunas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Drive Download",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Google Drive Modificado": {
      "main": [
        [
          {
            "node": "Compartilhar arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compartilhar arquivo": {
      "main": [
        [
          {
            "node": "Retornar URL Pública",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5d2fd6fa-0f3d-486b-a382-102c08ba5e31",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "22eecf610d66ada7c73eab46e13d35e3b3763f50ca9dc1517d68e299a265c0ae"
  },
  "id": "BmIk7y4aMPHdZQSC",
  "tags": [
    {
      "createdAt": "2025-06-20T17:14:50.450Z",
      "updatedAt": "2025-06-20T17:14:50.450Z",
      "id": "BE11o7L7jf6mRqRB",
      "name": "Eliana"
    }
  ]
}