Contatos___Conversao__Eliana_.json
{
  "name": "Contatos - Conversao (Eliana)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b59efb8e-dcc3-44d4-bc22-84e30a199355",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1020,
        -320
      ],
      "id": "e759d8e1-75d0-450d-9708-db8412115aed",
      "webhookId": "b59efb8e-dcc3-44d4-bc22-84e30a199355"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "binaryData": true,
        "name": "contatos.csv",
        "parents": [
          "1wVcD8_nVmbnQGOyLi3HYB_5XUU72X6iG"
        ],
        "options": {}
      },
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        1240,
        -320
      ],
      "id": "fa5bf21b-bd9a-480c-9a89-bd7ff682aa02",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SO1llAGW1mEvL8NB",
          "name": "Google Drive - Eliana"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "async function run() {\n  const csvContent = items.map(item => item.json).map(obj => {\n    return Object.values(obj).map(value => `\"${value}\"`).join(',');\n  });\n  const headers = Object.keys(items[0].json).join(',');\n  const finalCsv = [headers, ...csvContent].join('\\n');\n\n  const buffer = Buffer.from(finalCsv, 'utf8');\n\n  return [{\n    binary: {\n      data: await this.helpers.prepareBinaryData(buffer, 'contatos_modificado.csv', 'text/csv')\n    }\n  }];\n}\n\nreturn run();"
      },
      "name": "JSON para Binário CSV",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1460,
        -320
      ],
      "id": "f59f2a7a-e0c8-4454-9247-6657e8d3b71a"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1680,
        -320
      ],
      "id": "44a8e482-b30b-4ab3-a92a-07abfbbc9638"
    },
    {
      "parameters": {
        "functionCode": "const colunasParaManter = [\"First name\", \"Middle name\", \"Last Name\", \"Phone 1 - Value\"];\n\nreturn items.map(item => {\n  const novoItem = {};\n  for (const coluna of colunasParaManter) {\n    novoItem[coluna] = item.json[coluna] || '';\n  }\n  return { json: novoItem };\n});"
      },
      "name": "Filtrar Colunas",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1900,
        -320
      ],
      "id": "95a358dc-cf14-4e2f-9f6b-63f78e8a296b"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1,
      "position": [
        2120,
        -320
      ],
      "id": "362349f3-83af-45f1-a34c-b24693b7b9fd"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "binaryData": true,
        "name": "contatos_modificado.csv",
        "parents": [
          "1wVcD8_nVmbnQGOyLi3HYB_5XUU72X6iG"
        ],
        "options": {}
      },
      "name": "Google Drive Modificado",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        2340,
        -320
      ],
      "id": "04cdc427-6a91-4c9a-9e94-f656afaff292",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SO1llAGW1mEvL8NB",
          "name": "Google Drive - Eliana"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1aqn-K6exuMRw5BcGdo-Jsn49Ig12buF3",
          "mode": "list",
          "cachedResultName": "contatos_modificado.csv",
          "cachedResultUrl": "https://drive.google.com/file/d/1aqn-K6exuMRw5BcGdo-Jsn49Ig12buF3/view?usp=drivesdk"
        },
        "options": {}
      },
      "name": "Compartilhar arquivo",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        2560,
        -320
      ],
      "id": "5a8f108f-8a35-41e9-b652-54d2d8bff59b",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SO1llAGW1mEvL8NB",
          "name": "Google Drive - Eliana"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return [\n  {\n    json: {\n      downloadUrl: \"https://drive.google.com/uc?export=download&id=\" + $node[\"Compartilhar arquivo\"].json.id\n    }\n  }\n];\n"
      },
      "name": "Retornar URL Pública",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2760,
        -320
      ],
      "id": "89f0b978-6f0e-45a2-8034-b015062ee2cd"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "JSON para Binário CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON para Binário CSV": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Filtrar Colunas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Colunas": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Google Drive Modificado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Modificado": {
      "main": [
        [
          {
            "node": "Compartilhar arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compartilhar arquivo": {
      "main": [
        [
          {
            "node": "Retornar URL Pública",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ecf47981-0d5f-4047-8f2e-df5c01e8a60e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "22eecf610d66ada7c73eab46e13d35e3b3763f50ca9dc1517d68e299a265c0ae"
  },
  "id": "XmvMaLpBlGEyJnDA",
  "tags": [
    {
      "createdAt": "2025-06-20T17:14:50.450Z",
      "updatedAt": "2025-06-20T17:14:50.450Z",
      "id": "BE11o7L7jf6mRqRB",
      "name": "Eliana"
    }
  ]
}